<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="arm_gazebo">

    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find arm_description)/control/controllers.yaml</parameters>
      </plugin>
      <!--<plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">-->
      <!--  <render_engine>ogre2</render_engine>-->
      <!--</plugin>-->
    </gazebo>

  </xacro:macro>
    
</robot>
