<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="arm">
  <xacro:property name="PI" value="3.14159274"/>
  <xacro:include filename="$(find arm_description)/control/arm_ros2_control.xacro" />
  <xacro:include filename="$(find arm_description)/model/camera/camera.xacro"/>

  <xacro:camera_v0 parent="world">
    <origin xyz="0.25 0 0.7" rpy="0 ${PI/2} 0"/>
  </xacro:camera_v0>
  <xacro:camera_gazebo_v0/>

  <link name="world"/>

  <xacro:arm_ros2_control/>
</robot>
